# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyInstaller / Build artifacts
build/
dist/
*.manifest
*.spec.bak

# Database / Local runtime
*.db
*.sqlite3
*.log

# Environments
.env
.venv
env/
venv/
ENV/
